h1{
	font-family: Verdana, Geneva, sans-serif;
}

h3{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
}

.info{
	margin: 5px 5px;
}

.column{
	float: left;
	width: 32.5%;
	padding: 5px;
}

.general{
	font-size: 10px;
	color: gray;
}

.Open{
	display: inline-block;
	color: green;
	float: left;
}

.Close{
	color: red;
	float: left;
}

.icons{
	float: right;
	margin-top: 17px;
}

.foot{
	float: bottom;
	padding: 5px;
}